node_modules
.git
.nuxt
.output
dist
.env
.github
.vscode
*.log
cat > .dockerignore << 'EOL'
node_modules
.git
.nuxt
.output
dist
.env
.github
.vscode
*.log
package.json
!bun.lockb
!nuxt.config.ts
!tsconfig.json
!app.vue
!app/
!components/
!layouts/
!pages/
!plugins/
!public/
!static/
!assets/
!middleware/
!composables/
!utils/
!server/
!stores/
EOL
